body {
  font-family: sans-serif;
}

button {
  font-size: 14px;
  height: 30px;
}

input[type=text] {
  font-size: 14px;
  height: 26px;
  width: 64px;
}

h4 {
  margin-bottom: 0.5em;
}

h4 + p {
  margin-top: 0.5em;
}

.result {
  color: red;
}
